.header{
    width: 100vw;
    height: 10vh;
    background-color: lightgray;
    margin-top: 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.table{
    width: 50%;
}
.row{
}
tr{
    border-bottom: 7px solid black;
}

table thead th { border-bottom: 7px solid #000; }

caption{
    margin-bottom: 30px;
}
.date{
    display: flex;
}
.submit{
    margin-right:  70px;
    margin-left: 20px;
}
